
/*- *ID Selector* (e.g. *#content*)
- *Class Selector*
- *Descendant Selector* for the dynamically created facts (paragraphs)
- Custom *Hover-Effect* for hyperlinks
- *Padding* and *Margin* properties
- *Color* or *Background-Color* properties
*/

div {
	font-size: 15px;
	padding: 30px 10px;
	background-color: #F7F7F7;
	color: black;
	border: 2px solid red;
}

button:hover {
    color: blue;
}

body{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}

h1{
    font-size: 40px;
    font-weight: 50;
}

img1{
    float: right;
    border: 1px solid gray;
    padding: 5px;
    width:50%;
}

.row {flex: 50%;

}

.column {
    display: flex;
    padding: 5px;
    width: 50%;
}

#content{
    border: 1px solid rgb(212, 208, 208);
    background-color: rgb(245, 245, 245);
    width: 45%;
}

.generated-content{
    background-color: rgb(238, 226, 226);
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

#cs5764-basics{
    padding: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color:#a8ddb5;
    border-radius: 7px;;
    opacity: 1;
    transition: 0.3s;
}

#cs5764-basics:hover {
    opacity: 0.6;
}

.navbar{
    background-color: #f0f0f0;
    padding: 25px;
    word-spacing: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.navbar-cs5764,.navbar-website,.navbar-resources{
    font-size: 18px;
    color: rgb(97, 97, 97);
    text-decoration: none;
}

.navbar-cs5764:hover,.navbar-website:hover,.navbar-resources:hover{
    text-decoration: underline;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
}

.li .a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li .a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.back-content{
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Times New Roman";
    margin-left: 100px;
    margin-right: 100px;

}