<mat-toolbar color="primary">
  <span>Online Social University</span>
  <span class="space"></span>
  <button mat-button routerLink="/login" *ngIf="!isLogin">login</button>
  <button mat-button routerLink="/register" *ngIf="!isLogin">register</button>
  <div *ngIf="isLogin">
    <mat-form-field class="search" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchInput">
      <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Search" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <span>home</span>
      </button>
      <button mat-menu-item routerLink="/help">
        <span>one-to-one help</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
